div[data-view="views/shared/appbar/Master"] {
    background-color: #eb2328;
}
body, .dashboard-body {
    background-color: #202020;
}
h2, h3, label {
    color: #FFFFFF;
}
.dashboard-row .dashboard-panel .panel-body.html {
    padding: 0;
}
.dashboard-row .dashboard-panel {
    background: none;
}
.panel-body #img_wrapper {
    border: 8px solid #eb2328;
    position: relative;
    z-index: 2;
    width: 25%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.panel-body #img_wrapper img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.panel-body h2 {
    font-size: 1.4em;
}
.panel-body #description {
    position: absolute;
    width: 60%;
    top: 30px;
    left: 11%;
    padding: 1%;
    z-index: 1;
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.3em;
    background: #eb2328;
    -webkit-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    transform: skew(-5deg);
}
.panel-body #description h2 {
    color: white;
    margin-left: 29%;
    margin-right: 10%;
    -webkit-transform: skew(5deg);
    -ms-transform: skew(5deg);
    transform: skew(5deg);
}
.panel-body #description p {
    color: white;
    margin-left: 30%;
    margin-right: 10%;
    -webkit-transform: skew(5deg);
    -ms-transform: skew(5deg);
    transform: skew(5deg);
}
#character_detail {
    display: none;
}
#other_characters {
    display: none;
    float: right;
    width: 200px;
    min-height: 200px;
}
#other_characters a {
    display: inline-block;
    margin: 10px 5px 0 0;
}
#other_characters a img.other_character {
    border: 2px solid #eb2328;
}