body, .dashboard-body {
    background-color: #202020;
}
h2, h3 {
    color: #FFFFFF;
}
label {
    color: #FFFFFF;
}
.dashboard-row .dashboard-panel .panel-body.html {
    padding: 0;
}
.dashboard-row .dashboard-panel {
    background: none;
}
.panel-body #img_wrapper {
    border: 8px solid #eb2328;
    position: relative;
    z-index: 2;
    width: 25%;
}
.panel-body h2 {
    font-size: 1.4em;
}
.panel-body #description {
    position: absolute;
    width: 60%;
    top: 30px;
    left: 11%;
    padding: 1%;
    z-index: 1;
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.3em;
    background: #eb2328;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    transform: skew(-5deg);
}
.panel-body #description h2 {
    color: white;
    margin-left: 29%;
    margin-right: 10%;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(5deg);
    -ms-transform: skew(5deg);
    transform: skew(5deg);
}
.panel-body #description p {
    color: white;
    margin-left: 30%;
    margin-right: 10%;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(5deg);
    -ms-transform: skew(5deg);
    transform: skew(5deg);
}
#other_comics {
    display: none;
    float: right;
    width: 200px;
    min-height: 200px;

}
#other_comics a {
    display: inline-block;
    margin: 10px 10px 10px 0;
}
#other_comics a img.other_comic {
    max-width: 125px;
    height: auto;
    vertical-align: middle;
    border: 0;
    border: 2px solid #eb2328;
}
#comic_detail {
    display: none;
}