.dashboard-panel {
    background: none !important;
}
#MarvelComponentsWrapper {
    margin: 0 auto;
    background: white;
    padding: 20px 40px 20px 20px;
    width: 500px;
}
.input-error {
    color: #bd3232;
    display: block;
    padding: 0 0 10px;
}
.red-border {
    border: 1px solid #bd3232 !Important;
}
.success {
    margin-left: -20px;
    width: 530px;
    padding: 13px 10px 5px 20px;
    margin-bottom: 20px;
    background: #49bfa0;
}
.success p {
    color: white;
}